/*
 * Oraș Digital - Connecting the City
 * - A Innovator Dev project.
 *
 * @link https://oras.digital
 * @link https://innovator.dev
 * @copyright © 2022 Innovator Dev. All rights reserved.
 */

// Main
main {
  flex-grow: 1;
  padding: 3em 0;
  // margin: 3em auto 5em;

  @media (min-width: @mediaQueryMedium) {
    padding: 3em 0 1em;
  }

  // Paragraphs
  p {
    margin: 1em 0 0;

    &:nth-of-type(1) {
      margin: 0;
    }
  }

  // Heading level #1
  h1 {
    display: block;
    font-size: 2.6em;
    margin: 0 auto .5em;
    text-align: center;

    @media (min-width: @mediaQueryMedium) {
      text-align: left;
    }

    // Labeled
    &.labeled {
      position: relative;
      display: inline-block;

      &:before {
        position: absolute;
        content: attr(data-label);
        top: -25px;

        font-size: .25em;
        text-transform: uppercase;
        letter-spacing: 1px;

        background: var(--theme-9);
        padding: .4em .75em;
      }
    }
  }

  // Handling level #2
  h3 {
    font-size: 1.35em;
    margin: 1.75em auto .75em;
  }

  // Lists
  ul {
    margin: .5em 1.25em 1em;
    list-style: disc;

    li {
      padding-left: .25em;

      &::marker {
        color: var(--theme-3);
        font-size: 1.3em;
      }
    }
  }
}